#### Importing Libraries and reading data

In [ ]:
import numpy as np
import pandas as pd

In [16]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("raw_data.csv")
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd. set_option('display.max_rows', 30)

#### When look at the head of this dataframe there are couple problems that I notice with it. The wins_losses_draw needs to be separated into spearate interger values. Taking a look at the data types it can be seen that several of them are saved as an object and not as a numeric values. This needs to be changed in order to be able to visualize the data contained in these columns and draw insights from them. Another problem is that there are several missing values and these need to be filled in or removed. Several fighters in this dataset have had no fights r only 1 fight which is which is the explaination for the NA values. These will either be dropped or filled in with value 0.

In [3]:
df.head()

               name wins_losses_draw  Strikes Landed  Strikes Attempted  Takedowns Landed  Takedowns Attempted Significant strikes per Minute  Significant strikes Absorbed per minute  Takedown Average  Submission Average  Significant Strike Defense Takedown Defense Knockdown Average Average FIght Time Standing Position Strikes Clinch Position Strikes Ground Position Strikes Wins by KO Wins by Submission Wins by Decision  Strikes to Head  Strikes To Body  Strikes To Leg
0  Nariman Abbassov    0-0-0 (W-L-D)               0                  0               0.0                    0                          00:00                                     0.00              0.00                 0.0                         0.0                0                 0                  0                   0 (0 %)                 0 (0 %)                 0 (0 %)    0 (0 %)            0 (0 %)          0 (0 %)              0.0              0.0             0.0
1        Daichi Abe    6-1-0 (W-L-D)             171                508               1.0                    2                           3.80                                     4.49              0.33                 0.0                        57.0             0.33             15:00                  0                 146 (85%)                 11 (6%)                 14 (8%)    4 (67%)            2 (33%)           0 (0%)            102.0             12.0            57.0
2      Asjabharan _    0-0-0 (W-L-D)               0                  0               0.0                    0                          00:00                                     0.00              0.00                 0.0                         0.0                0                 0                  0                   0 (0 %)                 0 (0 %)                 0 (0 %)    0 (0 %)            0 (0 %)          0 (0 %)              0.0              0.0             0.0
3           Angga -    0-1-0 (W-L-D)              34                 88               NaN                    4                           3.56                                     3.77              0.00                 0.0                        53.0               33              0.00              09:33                  30 (88%)                 4 (12%)                  0 (0%)    0 (0 %)            0 (0 %)          0 (0 %)             17.0              6.0            11.0
4      Danny Abbadi    2-2-0 (W-L-D)              59                155               0.0                    0                           3.29                                     4.41              0.00                 0.0                        58.0               78              0.00              08:58                  42 (71%)                14 (24%)                  3 (5%)    0 (0 %)            0 (0 %)          0 (0 %)             51.0              8.0             0.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2689 entries, 0 to 2688
Data columns (total 23 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   name                                     2685 non-null   object
 1   wins_losses_draw                         2668 non-null   object
 2   Strikes Landed                           2689 non-null   int64
 3   Strikes Attempted                        2689 non-null   int64
 4   Takedowns Landed                         2689 non-null   float64
 5   Takedowns Attempted                      2689 non-null   int64
 6   Significant strikes per Minute           2689 non-null   object
 7   Significant strikes Absorbed per minute  2689 non-null   float64
 8   Takedown Average                         2689 non-null   float64
 9   Submission Average                       2689 non-null   float64
 10  Significant Strike Defense               2689 non-null   float64
 11  Takedown Defense                         2689 non-null   object
 12  Knockdown Average                        2689 non-null   object
 13  Average FIght Time                       2689 non-null   object
 14  Standing Position Strikes                2689 non-null   object
 15  Clinch Position Strikes                  2689 non-null   object
 16  Ground Position Strikes                  2689 non-null   object
 17  Wins by KO                               2689 non-null   object
 18  Wins by Submission                       2689 non-null   object
 19  Wins by Decision                         2689 non-null   object
 20  Strikes to Head                          2420 non-null   float64
 21  Strikes To Body                          2420 non-null   float64
 22  Strikes To Leg                           2420 non-null   float64
dtypes: float64(8), int64(3), object(12)
memory usage: 483.3+ KB

In [11]:
df.describe().T

                                          count        mean         std  min    25%     50%     75%      max
Strikes Landed                           2689.0  191.338044  274.986785  0.0  16.00   83.00  253.00  2975.00
Strikes Attempted                        2689.0  433.875418  620.175338  0.0  40.00  195.00  560.00  6324.00
Takedowns Landed                         2689.0    2.347713    6.967769  0.0   0.00    0.00    1.00    90.00
Takedowns Attempted                      2689.0   15.307921   25.264281  0.0   1.00    6.00   18.00   274.00
Significant strikes Absorbed per minute  2689.0    3.414277    3.187426  0.0   2.07    3.15    4.35    84.00
Takedown Average                         2689.0    1.296527    1.759122  0.0   0.00    0.78    2.00    29.03
Submission Average                       2689.0    0.587531    1.430495  0.0   0.00    0.00    0.75    29.03
Significant Strike Defense               2689.0   45.251023   20.736222  0.0  41.00   52.00   59.00   100.00
Strikes to Head                          2420.0  134.948347  183.439109  0.0  19.00   65.00  177.00  2040.00
Strikes To Body                          2420.0   43.426860   62.161241  0.0   6.00   20.00   55.00   681.00
Strikes To Leg                           2420.0   34.231405   52.415591  0.0   4.00   15.00   42.00   508.00

In [4]:
df.dtypes

name                                        object
wins_losses_draw                            object
Strikes Landed                               int64
Strikes Attempted                            int64
Takedowns Landed                           float64
Takedowns Attempted                          int64
Significant strikes per Minute              object
Significant strikes Absorbed per minute    float64
Takedown Average                           float64
Submission Average                         float64
Significant Strike Defense                 float64
Takedown Defense                            object
Knockdown Average                           object
Average FIght Time                          object
Standing Position Strikes                   object
Clinch Position Strikes                     object
Ground Position Strikes                     object
Wins by KO                                  object
Wins by Submission                          object
Wins by Decision                            object
Strikes to Head                            float64
Strikes To Body                            float64
Strikes To Leg                             float64
dtype: object

In [5]:
df.isna().sum()

name                                          4
wins_losses_draw                             21
Strikes Landed                                0
Strikes Attempted                             0
Takedowns Landed                           1294
Takedowns Attempted                           0
Significant strikes per Minute                0
Significant strikes Absorbed per minute       0
Takedown Average                              0
Submission Average                            0
Significant Strike Defense                    0
Takedown Defense                              0
Knockdown Average                             0
Average FIght Time                            0
Standing Position Strikes                     0
Clinch Position Strikes                       0
Ground Position Strikes                       0
Wins by KO                                    0
Wins by Submission                            0
Wins by Decision                              0
Strikes to Head                             269
Strikes To Body                             269
Strikes To Leg                              269
dtype: int64

In [6]:
df["Takedowns Landed"].fillna(0, inplace = True)

#### All the null values have been removed

In [13]:
df = df.dropna()

In [14]:
df.isna().sum()

name                                       0
wins_losses_draw                           0
Strikes Landed                             0
Strikes Attempted                          0
Takedowns Landed                           0
Takedowns Attempted                        0
Significant strikes per Minute             0
Significant strikes Absorbed per minute    0
Takedown Average                           0
Submission Average                         0
Significant Strike Defense                 0
Takedown Defense                           0
Knockdown Average                          0
Average FIght Time                         0
Standing Position Strikes                  0
Clinch Position Strikes                    0
Ground Position Strikes                    0
Wins by KO                                 0
Wins by Submission                         0
Wins by Decision                           0
Strikes to Head                            0
Strikes To Body                            0
Strikes To Leg                             0
dtype: int64

### Now it is time to convert the data types of the columns from objects to numeric values.

#### Creating the wins,losses and draws columns

In [17]:
df['wins']=df['wins_losses_draw'].apply(lambda x: x.split('-')[0])

In [18]:
df['losses']=df['wins_losses_draw'].apply(lambda x: x.split('-')[1])

In [19]:
df['draws']=df['wins_losses_draw'].apply(lambda x: x.split('-')[2])

In [20]:
df['draws'] = df['draws'].apply(lambda x: str(x)[0])

##### Reomving people with 0 fights

In [33]:
df = df.drop(df[df['wins_losses_draw']=='0-0-0 (W-L-D)'].index)

##### Converting Significant strikes per Minute to a numeric column

In [70]:
df['Significant strikes per Minute'] = pd.to_numeric(df['Significant strikes per Minute'])

###### Getting rid of more improperly formatted values and converting takedown defense to a numeric column

In [25]:
df=df.drop(df[df['Takedown Defense'].str.contains(":")].index)

In [27]:
df['Takedown Defense'] = pd.to_numeric(df['Takedown Defense'])

###### Converting Knockdown average to numeric column

In [29]:
df=df.drop(df[df['Knockdown Average'].str.contains(":")].index)

In [30]:
df['Knockdown Average'] = pd.to_numeric(df['Knockdown Average'])

##### Removing fighters with an average fight time of 0

In [38]:
df = df.drop(df[df['Average FIght Time']=='0'].index)

###### Converting average fight time minutes and seconds into a numeric value

In [ ]:
def convertTime(x):
    c = x.split(':')
    mins=float(c[0])
    secs = float(c[1])/60
    
    return round((mins+secs),2)

df['Average FIght Time'] = df['Average FIght Time'].apply(convertTime)

In [41]:
df['Average FIght Time'] = pd.to_numeric(df['Average FIght Time'])

In [42]:
df.dtypes

name                                        object
wins_losses_draw                            object
Strikes Landed                               int64
Strikes Attempted                            int64
Takedowns Landed                           float64
Takedowns Attempted                          int64
Significant strikes per Minute              object
Significant strikes Absorbed per minute    float64
Takedown Average                           float64
Submission Average                         float64
Significant Strike Defense                 float64
Takedown Defense                           float64
Knockdown Average                          float64
Average FIght Time                         float64
Standing Position Strikes                   object
Clinch Position Strikes                     object
Ground Position Strikes                     object
Wins by KO                                  object
Wins by Submission                          object
Wins by Decision                            object
Strikes to Head                            float64
Strikes To Body                            float64
Strikes To Leg                             float64
wins                                        object
losses                                      object
draws                                       object
dtype: object

###### Coverting Standing Position Strikes, Clinch Position Strikes, Ground Position Strikes, Wins by KO, Wins by Submission, Wins by Decision to numeric values

In [45]:
def convertPercent(y):
    d=y.split("(")
    x=d[1].split(")")
    z=x[0].split("%")
    
    return float(z[0])/100

In [47]:
df['Standing Position Strikes'] = df['Standing Position Strikes'].apply(convertPercent)

In [48]:
df['Clinch Position Strikes'] = df['Clinch Position Strikes'].apply(convertPercent)

In [49]:
df['Ground Position Strikes'] = df['Ground Position Strikes'].apply(convertPercent)

In [50]:
df['Wins by KO'] = df['Wins by KO'].apply(convertPercent)

In [52]:
df['Wins by Submission'] = df['Wins by Submission'].apply(convertPercent)
df['Wins by Decision'] = df['Wins by Decision'].apply(convertPercent)

###### Convert wins, losses, and draws to numeric values

In [54]:
df['wins'] = pd.to_numeric(df['wins'])
df['losses'] = pd.to_numeric(df['losses'])
df['draws'] = pd.to_numeric(df['draws'])

In [55]:
df.dtypes

name                                        object
wins_losses_draw                            object
Strikes Landed                               int64
Strikes Attempted                            int64
Takedowns Landed                           float64
Takedowns Attempted                          int64
Significant strikes per Minute              object
Significant strikes Absorbed per minute    float64
Takedown Average                           float64
Submission Average                         float64
Significant Strike Defense                 float64
Takedown Defense                           float64
Knockdown Average                          float64
Average FIght Time                         float64
Standing Position Strikes                  float64
Clinch Position Strikes                    float64
Ground Position Strikes                    float64
Wins by KO                                 float64
Wins by Submission                         float64
Wins by Decision                           float64
Strikes to Head                            float64
Strikes To Body                            float64
Strikes To Leg                             float64
wins                                         int64
losses                                       int64
draws                                        int64
dtype: object

##### dropping values that got scraped incorrectly

In [56]:
df = df.drop(df[(df['Takedowns Attempted'] >10) & (df['Takedowns Landed']==0)].index)

In [57]:
df

                           name wins_losses_draw  Strikes Landed  Strikes Attempted  Takedowns Landed  Takedowns Attempted Significant strikes per Minute  Significant strikes Absorbed per minute  Takedown Average  Submission Average  Significant Strike Defense  Takedown Defense  Knockdown Average  Average FIght Time  Standing Position Strikes  Clinch Position Strikes  Ground Position Strikes  Wins by KO  Wins by Submission  Wins by Decision  Strikes to Head  Strikes To Body  Strikes To Leg  wins  losses  draws
3                       Angga -    0-1-0 (W-L-D)              34                 88               0.0                    4                           3.56                                     3.77              0.00                0.00                        53.0              33.0               0.00                9.55                       0.88                     0.12                     0.00        0.00                0.00              0.00             17.0              6.0            11.0     0       1      0
4                  Danny Abbadi    2-2-0 (W-L-D)              59                155               0.0                    0                           3.29                                     4.41              0.00                0.00                        58.0              78.0               0.00                8.97                       0.71                     0.24                     0.05        0.00                0.00              0.00             51.0              8.0             0.0     2       2      0
5           Shamil Abdurakhimov   20-7-0 (W-L-D)             250                566               5.0                   30                           2.60                                     2.80              1.09                0.16                        58.0              47.0               0.31                9.62                       0.67                     0.24                     0.09        0.45                0.35              0.20            148.0             47.0            55.0    20       7      0
6                   Tank Abbott   8-10-0 (W-L-D)              12                 31               0.0                    0                           2.41                                    10.03              0.00                0.00                        38.0              67.0               0.00                1.67                       0.33                     0.58                     0.08        0.00                0.00              0.00             12.0              0.0             0.0     8      10      0
11              Zarrukh Adashev    4-4-0 (W-L-D)             115                285               0.0                    5                           3.65                                     3.04              0.00                0.48                        65.0             100.0               0.00                7.88                       0.93                     0.05                     0.02        0.50                0.50              0.00             76.0             16.0            23.0     4       4      0
...                         ...              ...             ...                ...               ...                  ...                            ...                                      ...               ...                 ...                         ...               ...                ...                 ...                        ...                      ...                      ...         ...                 ...               ...              ...              ...             ...   ...     ...    ...
2680         Konstantin Erokhin    9-3-0 (W-L-D)              32                 87               0.0                    0                           1.07                                     1.83              0.00                0.00                        47.0              70.0               0.00               15.00                       0.78                     0.22                     0.00        0.89                0.11              0.00             23.0              7.0             2.0     9       3      0
2681               Julian Erosa  27-10-0 (W-L-D)             613               1256               3.0                   21                           6.29                                     6.51              1.69                0.77                        48.0              62.0               0.31                8.87                       0.81                     0.15                     0.04        0.30                0.38              0.32            392.0            159.0            62.0    27      10      0
2683           John-Olav Einemo    6-3-0 (W-L-D)              93                177               0.0                    9                           2.15                                     3.05              1.73                0.00                        52.0              44.0               0.00               14.43                       0.66                     0.32                     0.02        0.00                0.00              0.00             54.0             19.0            20.0     6       3      0
2687  Elizeu Zaleski dos Santos   23-7-0 (W-L-D)             677               1604               2.0                   33                           4.65                                     3.22              0.52                0.41                        59.0              62.0               0.21               12.12                       0.72                     0.22                     0.06        0.26                0.68              0.06            411.0            159.0           107.0    23       7      0
2688                Hacran Dias   23-6-1 (W-L-D)             249                595              20.0                   51                           2.08                                     3.31              2.50                0.50                        55.0              77.0               0.00               15.00                       0.80                     0.09                     0.11        0.17                0.48              0.35            171.0             30.0            48.0    23       6      1

[1460 rows x 26 columns]

###### Removing outliers

In [58]:
df = df.drop(df[df['Significant strikes Absorbed per minute']>9].index)

In [59]:
df.drop(df[df["wins"]>45].index, inplace=True)

In [77]:
df.drop(df[df['Submission Average']>6].index, inplace=True)

###### Feature Engineering

In [84]:
df["Striking Accuracy"] = df["Strikes Landed"]/df["Strikes Attempted"]
df["Takedown Accuracy"] = df['Takedowns Landed']/df['Takedowns Attempted']
df['Total Fights'] = df["wins"] + df['losses'] + df['draws']

In [85]:
df['Significant Strike Defense'] = df['Significant Strike Defense']/100

In [86]:
df['Takedown Defense'] = df['Takedown Defense']/100

In [87]:
df['Win Percentage'] = df['wins']/df['Total Fights']

In [ ]:
df.to_csv('clean_data.csv', index=False)